body
    {
    background-color: rgba(232, 228, 228, 0.144);
    }

.nav ul
    {
    display: flex;
    list-style: none;
    gap: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 70px;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(90, 101, 255, 0.712);    
    border: 1px solid rgba(255, 255, 255, 0.712);
    border-radius: 8px;
    box-shadow: 3px 4px 8px rgba(20, 19, 19, 0.874);
    transition: 0.6s ease-in-out;
    }
.nav
    {
    display: flex;
    align-items: center;
    padding-bottom:10px;
    }
.nav ul li a 
    {
    text-decoration: none;
    color: rgba(225, 222, 222, 0.951);
    }
div
    {
    background-color:rgb(162, 148, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    border: 3px solid rgb(93, 9, 91);
    border-radius: 10px;
    gap: 10px;
    box-shadow: 3px 4px 8px rgba(20, 19, 19, 0.874);
    animation: 2s ease-in-out infinite;
    }

button
    {
    transition: 0.6s ease;
    cursor: pointer;
    font-size: large;
    border: 3.1px solid rgb(10, 45, 97);
    border-radius: 6px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px 15px;
    background-color: rgba(10, 47, 213, 0.771);
    color: white;
    }
button:hover
    {
    background-color:  rgba(255, 255, 255, 0.752);
    box-shadow: 4px 4px 8px rgba(1, 13, 85, 0.2);
    transform: translateY(-2px);
    cursor: pointer;
    animation: 0.3s ease-in-out;
    color: black;
    }
.t-box
    {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    transition: all 0.6s ease-in-out;
    }
h3
    {
    text-align: center;
    font-family: 'Arial Black', Gadget, sans-serif;
    }
p
    {
    font-family: Georgia, Gadget, sans-serif;
    display: block;
    font-size:large;
    }
.cop
    {
         text-align: right;
    }
#wlc
    {
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
    }
#p1
    {
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
    }
