li {
    display: inline-block; 
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.navbar{
    background-color: yellow;
}

.dropdown{
    position: relative;
}
.dropdown-content {
    position: absolute;
    display: none;
}
.dropdown:hover .dropdown-content {
    display: block; 
    width: 150%;
    background-color: yellow;
}