.container
{
    gap: space(2);
}
.conatiner :first-child
{
    border: none;
}
.container :nth-child(2)
{
    border: 2px solid red;
}
.container :nth-child(3)
{
    border: 2px dashed green;
}
.container :last-child
{
    border: 2px dotted orange;
}