
.carte
{
    align-items: center;
    justify-content: center;
    border: 2px solid #3498db;
    width: 400px;
    height: 300px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    border-radius: 10px;
    background-color: #ecf0f1;
    padding: 10px;
    display:flex;
    flex-direction: column;
    margin: auto;
}
.carte img
{
    width: 70px;
    height: 65px;
    border: 0px solid white;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
}
.carte h1
{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    font-weight: bold;
    color: #e74c3c;
}
.carte p
{
    text-align: center;
    color: #2c3e50; 
    line-height: 3vh;
}
hr
{
    margin: 15px;
    border: 1px solid #002741;
}
.carte a
{
    text-decoration: none;
    color: #3498db;
    line-height: 7px;
}    
.carte
{
    line-height: 3vh ;
    gap: 10px;
}
